<div class="row" >
  <div class="col-lg-3 col-md-4 " *ngFor='let result of results'>
    <div class="card alignCards">
      <div class="card-body cardColor">
        <h5 class="card-title">{{result.name}}</h5>
        <p>{{result.weather[0].main}}</p>
        <p class="card-text">Temperatura: {{result.main.temp}}°</p>
        <img *ngIf="result.weather[0].main === 'Clouds'" src='https://ssl.gstatic.com/onebox/weather/128/cloudy.png'>
        <img *ngIf="result.weather[0].main === 'Rain'" src='https://ssl.gstatic.com/onebox/weather/128/rain.png'>
        <img *ngIf="result.weather[0].main === 'Clear'" src='https://ssl.gstatic.com/onebox/weather/128/sunny.png'>

        <a href="http://localhost:4200/details" class="btn btn-light">Details</a>
      </div>
    </div>
  </div>
</div>


